.u-section-1 .u-sheet-1 {
  min-height: 174px;
}

.u-section-1 .u-text-1 {
  text-shadow: 2px 2px 8px rgba(71,138,201,1);
  margin: 25px 472px 0;
}

.u-section-1 .u-custom-html-1 {
  width: 1500px;
  margin: 50px 0 60px;
}

@media (max-width: 1199px) {
  .u-section-1 .u-text-1 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-1 .u-custom-html-1 {
    width: 940px;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-custom-html-1 {
    width: 720px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-custom-html-1 {
    width: 540px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-custom-html-1 {
    width: 340px;
  }
}